//Animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($prop...) {
    -webkit-animation: $prop;
    -webkit-animation-fill-mode: both;
    animation: $prop;
    animation-fill-mode: both;
}

//Custom Animations
@include keyframes(fade-in-down) {
    0% {
        opacity: 0;
        @include transform(translateY(-10px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
};

@include keyframes(fade-in) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
};